{%extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block main %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8">
    <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-sm sm:max-w-md">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="mb-4 p-4 rounded-md {% if category == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <h1 class="text-xl sm:text-2xl font-bold text-center mb-6 text-gray-800">Login</h1>
        <form action="/" method="post" class="space-y-4">
            {{form.csrf_token}}
            <div>
                {{form.user_email.label(class="block text-sm font-medium text-gray-700")}}
                {{form.user_email(class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3 bg-gray-100", placeholder="youremail@example.com")}}
                {% if form.user_email.errors %}
                    {% for error in form.user_email.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div>
                {{form.user_password.label(class="block text-sm font-medium text-gray-700")}}
                {{form.user_password(class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3 bg-gray-100", placeholder="Enter your password")}}
                {% if form.user_password.errors %}
                    {% for error in form.user_password.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow-md hover:bg-indigo-700 
            focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Login
            </button>
        </form>
        <p class="mt-4 text-sm text-center text-gray-600">
            <span>Don't have an account yet ?</span>
            <a href="/signup" class="text-indigo-600 hover:underline">Signup</a>
        </p>
    </div>
</div>
{% endblock %}