{%extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block main %}
<h1>Login</h1>
<form action="/" method="post">
    <div class="input_field_container">
        <label id="user_email_label" aria-label="user_email_label" for="user_email">Email</label>
        <input id="user_email" aria-labelledby="user_email_label" placeholder="youremail@example.com" type="email"
            name="user_email" required aria-required="true">
    </div>

    <div class="input_field_container">
        <label id="user_password_label" aria-label="user_password_label" for="user_password">Password</label>
        <input id="user_password" aria-labelledby="user_password_label" placeholder="Your password" type="password"
            name="user_password" required aria-required="true">
    </div>

    <button class="cta">Login</button>
</form>
<p><span class="sub">Don't have an account yet ?</span> <a href="/signup">Signup</a></p>
{% endblock %}