<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in my account</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/" method="post">
        <input type="text" name="user_email" required aria-required="true">
        <input type="password" name="user_password" required aria-required="true">
        <button>Login</button>
    </form>
    <p>Don't have an account yet ? <a href="/signup">Signup</a></p>
</body>

</html>