{%extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block main %}
<h1>Create an account</h1>
<form action="/signup" method="post">
    <div class="input_field_container">
        <label id="user_name_label" for="user_name" aria-label="user_name_label">Username</label>
        <input id="user_name" aria-labelledby="user_name_label" placeholder="John Doe" type="text" name="user_name"
            required aria-required="true">
    </div>

    <div class="input_field_container">
        <label id="user_dateofbirth_label" for="user_dateofbirth" aria-label="user_dateofbirth_label">
            Date of birth
        </label>
        <input id="user_dateofbirth" type="date" name="user_dateofbirth" required aria-required="true">
    </div>

    <div class="input_field_container">
        <label for="user_email" id="user_email_label" aria-label="user_email_label">Email</label>
        <input aria-labelledby="user_email_label" id="user_email" placeholder="youremail@example.com" type="email"
            name="user_email" required aria-required="true">
    </div>

    <div class="input_field_container">
        <label for="user_password" id="user_password_label" aria-label="user_password_label">Password</label>
        <input id="user_password" aria-labelledby="user_password_label" placeholder="Your password" type="password"
            name="user_password" required aria-required="true">
    </div>

    <button type="submit" class="cta">Create account</button>
</form>
<p><span class="sub">Already have an account ?</span> <a href="/login">Login</a></p>
{% endblock %}