{%extends "base.html" %}
{% block title %}Projects {{project.project_id}} Task List{% endblock %}

{% block main %}
{{ components.navbar() }}

<div class="container mx-auto mt-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="mb-4 p-4 rounded-md {% if category == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{{project.project_name}}</h1>

    <p class="text-gray-600 mb-4">{{project.project_description}}</p>

    <a href="/tasks/create/{{project.project_id}}"
        class="inline-block bg-blue-600 text-white font-medium py-2 px-4 rounded-lg shadow hover:bg-blue-700 transition">
        New Task
    </a>
    <table class="min-w-full mt-6 bg-white border border-gray-200 shadow-md rounded-lg">
        <thead class="bg-gray-100">
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">Title</th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">Description</th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">Date creation
            </th>
            <th class="px-6 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider">State</th>
            <th class="px-6 py-3 text-center text-sm font-medium text-gray-600 uppercase tracking-wider">Actions</th>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for task in tasks %}
            <tr class="hover:bg-gray-50">
                <td class="px-6 py-4 text-gray-600">{{task.task_name}}</td>
                <td class="px-6 py-4 text-gray-700">{{task.task_description}}</td>
                <td class="px-6 py-4 text-gray-600">{{task.task_datecreation}}</td>
                <td class="px-6 py-4">
                    {% if task.task_state == True %}
                    <span class="text-green-600 font-bold">Finished</span>
                    {% else %}
                        <a href="/tasks/{{project.project_id}}/finish/{{task.task_id}}" class="bg-green-600 hover:bg-green-700 text-white py-1 px-3 rounded-md text-sm">
                            Mark as done
                        </a>
                    {% endif %}
                </td>
                <td class="px-6 py-4 text-gray-700">
                    <a href="/tasks/{{project.project_id}}/delete/{{task.task_id}}" class="bg-red-600 hover:bg-red-700 text-white py-1 px-3 rounded-md text-sm">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}