{% extends 'base.html' %}
{% block title %}Projects List{% endblock %}
{% block main %}
<a href="/logout">Logout</a>
<h1>Your projects</h1>
<a href="/projects/create">New project</a>
<table>
    <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Date creation</th>
        <th>State</th>
        <th></th>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="/tasks/{{project[0]}}">{{project[1]}}</a></td>
            <td>{{project[2]}}</td>
            <td>{{project[3]}}</td>
            <td>
                {% if project[4] != 0 %}
                <span style="color: green;">
                    <b>Finished</b>
                </span>
                {% else %}
                <form action="/projects/finish/{{project[0]}}" method="post">
                    <input type="submit" value="Mark done">
                </form>
                {% endif %}
            </td>
            <td>
                <form action="/projects/delete/{{project[0]}}" method="post">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}